<h1>Characters</h1>

<% if @user %>
  <ul>
    <% @characters.each do |character| %>
      <li><%= link_to character.name, character_path(character) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Please log in to see your characters.</p>
<% end %>
      
      
<p><%= link_to "Create new character", new_user_character_path(@user) %></p>
